

/* 发布 */
.title_top a.i_issue{  
    width: 15%;
    height: 0.85rem;
    float: right;
    text-align: right;
    margin-right: 3%;
}
.title_top a.i_issue .publish{
      height: 1rem;
      float: right;
      font-size: 0.26rem;
      color: #7f7f7f; 
}

/* 任务，金额 */
.main_middle{
    width: 100%;
   background: #fff;
}
.main_middle ul {
    width: 100%;
    padding: .36rem 0;
    overflow: hidden;
}
.main_middle ul li {
    width: 33%;
    float: left;
    text-align: center;
}
.main_middle ul li p:nth-child(1) {
    font-size: .34rem;
    color: #333;
}
.main_middle ul li p:nth-child(2) {
    font-size: .26rem;
    color: #666;
    margin-top: .22rem;
}

.kong{
    width: 100%;
    height: 0.2rem;
    background: #f4f5f9;
}

.mid_line {
    width: .02rem;
    height: .36rem;
    background: #ebebeb;
    float: right;
    margin-top: -.7rem;
}
.main_bot{
	width:100%;
	background: #fff;
	padding-top: .1rem;
}
.team_tile{
	width: 100%;
	padding-bottom: .2rem;
}
.main_bot .bot_ul{
	width: 100%;
	/* width: 96%; */
	height: .58rem;
	border: .01rem solid #07a0f8;
	border-radius: .08rem;
	overflow: hidden;
    margin-left: 2%;
    margin-top: 0.1rem;
}
.bot_ul li{
	width: 1.78rem;
	height: 0.58rem;
	text-align: center;
	line-height: .58rem;
	color: #07a0f8;
	font-size: .26rem;
	float: left;
}
.bot_ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
a.tabhover{
	background: #07a0f8;
	color: #fff;
}
.bot_ul li+li{
	border-left: .01rem solid #07a0f8;
}
/* 左边图片的钱数样式 */
.p_purse{
    display: block;
    width: 1.22rem;
    height: 0.25rem;
    line-height: 0.25rem;
    text-align: center;
    position: absolute;
    font-size: 0.26rem;
    color: #f8c03f;
    margin-left: 0.3rem;
    margin-top: 0.87rem;
}
.y_purse{
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    line-height: 0.25rem;
    text-align: center;
    position: absolute;
    font-size: 0.26rem;
    color: #999999;
    margin-left: 0.73rem;
    margin-top: 0.87rem;
}

/* 任务 */
.wrapper01 {
    position: relative;
    height: .92rem;
    width: 100%;
    overflow: hidden;
	margin: 0 auto;
	border-bottom: 0.001rem solid #ebebeb;
}
#list #retr.active {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
}
/* 任务列表 */
.allGoods_list {
    width: 100%;
    height: auto;
    min-height:1.6rem;
}
.allGoods_list ul {
    width: 100%;
    height: 100%;
}
.main_content_li{
    width: 100%;
    height: 2.61rem;
    border-top: 0.01rem solid #ebebeb;
}
imng{
    width: 100%;
    height: 100%;
}
/* 新加的任务样式 */
.main_content_li .v_venn{
    width: 100%;
    height:1.80rem;
}
.main_content_li .v_amount{
    width: 100%;
    height:.81rem;
    border-top: 0.01rem solid #ebebeb;
}
.main_content_li .v_amount .s_scale{
    width: 2.0rem;
    height: .81rem;
    line-height: .81rem;
    font-size: 0.18rem;
    color: #333333;
    margin-left: 0.26rem;
}
.main_content_li .v_amount .s_scale .magnitude{
    width: 2.0rem;
    height: .81rem;
    line-height: .81rem;
    font-size: 0.24rem;
    color: #333333;
}
.main_content_li .v_amount .s_scale .just_now{
    font-size: 0.18rem;
    color: #fd4848;
} 
.main_content_li .v_amount .s_time{
    height: .81rem;
    line-height: .81rem;
    font-size: 0.24rem;
    color: #999999;
}
.main_content_li .v_amount .main_content_a{
    display: block;
    width: 1.10rem;
    height: 0.42rem;
}
.main_content_li .v_amount .main_content_a .particulars{
    width: 1.10rem;
    height: 0.42rem;
    text-align: center;
    line-height: 0.42rem;
    color: #07a0f8;
    font-size: 0.24rem;
    border-radius: 0.06rem;
    border: 0.02rem solid #07a0f8;
    position: absolute; 
    margin-left: 6.0rem;
    margin-top:-0.65rem;

}/* 新加的任务样式 */




.main_content_a_left {
    width: 1.22rem;
    height: 1.22rem;
    float: left;
}
.main_content_a_left .main_img {
    width: 1.22rem;
    height: 1.22rem;
    margin: 0.3rem;
   border-radius: 50%;
}
.main_content_a_right {
    width:4.40rem;
    height: 1.8rem;
    float: left;
    margin-left: 0.55rem;
}
/* .just_now{
    font-size: 0.24rem;
    color: #999999;
    margin-left: 0.14rem;
} */
.m_c_a_r_top {
    display: block;
    font-size: 0.26rem;
    color: #333333;
    margin-top: 0.3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.m_c_a_r_bottom {
    display: block;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-top: 0.1rem;
}
.m_c_a_r_bottomleft {
    font-size: 0.26rem;
    color: #07a0f8;
    font-weight: normal;
}


/* 审核中 */
.m_c_a_r_orange{
	font-size: 0.26rem;
    color: #fd9f4b;
    font-weight: normal;
}
.aerea{
	width:1.10rem;
    height: 0.42rem;
    text-align: center;
    line-height: 0.42rem;
    color: #fd9f4b;
    font-size: 0.24rem;
    border-radius: 0.06rem;
    border: 0.02rem solid #fd9f4b;
    position: absolute; 
    margin-left: 6.0rem;
    margin-top:-0.65rem;
}
/* 已完成 */
.m_c_a_r_green{
	font-size: 0.26rem;
    color: #59d749;
    font-weight: normal;
}
.creoline{
	width: 1.10rem;
    height: 0.42rem;
    text-align: center;
    line-height: 0.42rem;
    color: #999999;
    font-size: 0.24rem;
    border-radius: 0.06rem;
    border: 0.02rem solid #999999;
    position: absolute; 
    margin-left: 6.0rem;
    margin-top:-0.65rem;
}
/* 待支付 */
.bonus{
	width:1.10rem;
    height: 0.42rem;
    text-align: center;
    line-height: 0.42rem;
    color: #59d749;
    font-size: 0.24rem;
    border-radius: 0.06rem;
    border: 0.02rem solid #59d749;
    position: absolute; 
    margin-left: 6.0rem;
    margin-top:-0.65rem;
}
/* 审核失败 */
.failure{
    width:1.10rem;
    height: 0.42rem;
    text-align: center;
    line-height: 0.42rem;
    color: #fd4848;
    font-size: 0.24rem;
    border-radius: 0.06rem;
    border: 0.02rem solid #fd4848;
    position: absolute; 
    margin-left: 6.0rem;
    margin-top:-0.65rem;
}
/* 查看 */
.m_c_a_r_red{
	font-size: 0.26rem;
    color: #fd4848;
    font-weight: normal;
}
/* .bonus{
	width:1.10rem;
    height: 0.42rem;
    text-align: center;
    line-height: 0.42rem;
    color: #fd4848;
    font-size: 0.24rem;
    border-radius: 0.06rem;
    border: 0.02rem solid #fd4848;
    position: absolute; 
    margin-left: 6.2rem;
    margin-top: 1.15rem;
} */
/*模态框*/
.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 80%;
    margin: 60% auto;
    background-color:#fff;
    -webkit-animation: zoom 0.6s;
    animation: zoom 0.6s;
    resize: both;
    overflow: auto;
    border-radius: .12rem;
}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.modal-header{
	width:100%;
	overflow: hidden;
}
.modal-title{
	width:100%;
	text-align: center;
	font-size: .3rem;
	color: #333;
}
.close{
    color: #b7b7b7;
    font-size: .6rem;
    font-weight: bold;
    transition: all 0.3s;
    float: right;
    margin-right: .2rem;
}
.modal-body{
	width: 100%;
	height: auto;
	margin-top: .28rem;
}
.modal-body ul{
	width:100%;
	font-size: .26rem;
	color: #666;
	padding: 0 .26rem;
}
.modal-body ul li{
	width: 100%;
	margin-bottom: .42rem;
	text-align: center;
}
.onec {
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
	font-size: 0.26rem;
	color: #666;
}
.two{
	font-size: 0.22rem;
	color: #999999;
}
.modal-footer{
	width: 100%;
	text-align: center;
	margin: .3rem 0;
}
.modal-footer button{
	width: 3.3rem;
	height: .8rem;
	background: #333;
	border-radius: .08rem;
	color: #fff;
	text-align: center;
	line-height: .8rem;
}

/* 已过期的样式 */
.main_content_a_ash {
    width:4.40rem;
    height: 1.8rem;
    float: left;
    margin-left: 0.55rem;
}
.m_c_a_r_grey {
    display: block;
    font-size: 0.26rem;
    color: #666666;
    margin-top: 0.3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.m_c_a_r_ash {
    display: block;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-top: 0.1rem;
}
.m_c_a_r_bottomlefts {
    font-size: 0.26rem;
    color: #999999;
    font-weight: normal;
}
.main_content_as{
    display: block;
    width: 0.82rem;
    height: 0.42rem;
}
.particularss{
    width: 0.82rem;
    height: 0.42rem;
    text-align: center;
    line-height: 0.42rem;
    color: #999999;
    font-size: 0.24rem;
    border-radius: 0.06rem;
    border: 0.02rem solid #999999;
    position: absolute; 
    margin-left: 6.2rem;
    margin-top: 1.15rem;

}
/* 过期框的样式 */
.overdue{
    width: 0.82rem;
    height: 0.42rem;
    text-align: center;
    line-height: 0.42rem;
    background: #999999;
    color: #ffffff;
    font-size: 0.24rem;
    border-radius: 0.06rem;
    border: 0.02rem solid #999999;
    position: absolute; 
    margin-left: 6.2rem;
    margin-top: 1.15rem;
}
footer{
    width: 100%;
    height:1.2rem;
    background: #fff; 
    position:fixed ;
    top:12.2rem;
}
.record {
    width: 6.90rem;
    height: 0.88rem; 
    border-radius: 0.08rem;
    text-align: center;
    background: #333333;
    margin-left: 0.3rem;
    margin-top: 0.16rem;
}
.record a{
    line-height: 0.88rem;
    color: #fff;
    font-size:0.3rem;
}
/* 没有数据显示的页面样式 */
.w_without{
    width: 100%;
    display: none;
}
/* 图片 */
img{
    width: 100%;
    height: 100%;
}
.w_img{
   width: 1.46rem;
   height: 1.14rem; 
   margin-left: 3.02rem;
   margin-top: 1.8rem;
}
.w_little{
    width: 1.46rem;
    height: 1.14rem; 
}
/* 文字 */
.w_message{
    width: 1.77rem;
    height: 0.44rem;
    line-height: 0.44rem;
    font-size: 0.24rem;
    color: #999999;
    text-align: center;
    margin-left: 2.91rem;
    margin-top: 0.44rem;

}
/* 发布任务按钮 */
.w_stroke{
    display: block;
    width: 1.90rem;
    height: 0.62rem;
    background: #333333;
    border-radius: 0.06rem;
    margin-left: 2.78rem;
    margin-top: 0.80rem;
}
.w_hist{
    width: 1.90rem;
    height: 0.62rem;
    line-height: 0.62rem;
    text-align: center;
    font-size: 0.26rem;
    color: #fff;
}
/* 如果没有信息给出信息提醒 */
.information{
    font-size: 0.26rem;
    color: #999999;
    text-align: center;
    margin-top: 0.8rem;
    margin-left: 2.6rem;
}

/* 左边图片的钱数样式 */
.p_purse{
    display: block;
    width: 1.22rem;
    height: 0.25rem;
    line-height: 0.25rem;
    text-align: center;
    position: absolute;
    font-size: 0.26rem;
    color: #f8c03f;
    margin-left: 0.3rem;
    margin-top: 0.87rem;
}